body{
    background:#000000;
  }
  
  
  .page-sections{
    width: 10%;
    height: 50%;
    postion: absolute;
    outline: 1px solid #fff
  }
  
  #first #main-header{
    position:relative;
    margin: 50% 50%;
    color: red;
  }
  
  #first:hover{
    margin:0;
  }
  
  #main-header {
    color: #fff;
    font-family:sans-serif;
    
  }
  